.banner-section-first{
        width:auto;
        height: 250px;
        background-image: url("../../assets/vector1.png");
        background-size: cover;
        background-position: center;
        background-color: #422AD5;
        color:#FFFFFF;
}
.banner-section-second{
        width:auto;
        height: 250px;
       
        background-image: url("../../assets/vector1.png");
        background-size: cover;
        background-position: center;
       background-color: #54CF68; 
        color:#FFFFFF;
}